body {
    background-color:rgb(59, 59, 59);
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    color:rgb(0, 0, 0)
}
#t1 {
background-color:antiquewhite
}

#t2 {
background-color:darkgray        
}